
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
.row {
    margin-bottom: 15px;
}
ol {
    list-style-position: inside;
    padding-left: 0;
}

ol li {
    position: relative;
    padding-left: 30px; /* Adjust this to ensure space for the number */
}

ol li div {
    margin-left: -30px; /* Match this to the li padding-left */
}
label {
    
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:10px;
}

input[type="text"] {
    height: 40px;
    margin-left:10px;
    margin-right:10px;

}

textarea {
    resize: vertical;
}

.error_message {
    
    font-size: 0.9em;
}

input[type="submit"] {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background: #218838;
}