body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width:100%;
}
.calendar-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}



/* Responsive Design */
#latestSermon{
    width:65%;
    height:400px;
    margin:auto;
}
#sermons {
    padding-top:50px;
    width:45%;
    height:350px;
    margin:auto;
    
}
#messagesTitle{
    text-align:center;
    padding-top:30px;
    font-size:25px;
    color: #C41E3A; 

}
.form-container form{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:left;
}
.form-container form label{
    margin-right:10px;
    white-space:nowrap;
}
.form-container form select{
    padding:5px;
    font-size:16px;
}
.navbar-nav .nav-link:hover {
    background-color: #E0E0E0;
    border-radius:5px;
}
@media(max-width:600px) {
    .form-container form{
        flex-direction: column;
        align-items:left;
    }
    .form-container form label{
        margin-bottom:5px;
    }
    .form-container form select{
        width:100%;
        max-width:200px;
    }
}
table{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom:50px;
}
table tr th{
    color:#C41E3A;
    background-color:RGB(54, 69, 79);
    text-align:center;
    border:1px solid black;
    width:33%;
    padding:12px;
}
table tr td{
    background-color: #ffffff;
    text-align:center;
    border:1px solid black;
    width:33%;
    padding:12px;
}


body div #slideshow{
    position: relative;
   text-align: center;
   color: white;
}
body div #media{
   position: absolute;
    text-decoration:none;
    background-color:none;
    top: 8px;
    right: 16px;
}
body div #slide {
    width: 100%;
    height: auto;
}
img{
 width:50%;
 height: auto;
}
p {
    padding-left:25px;
    text-align: left;
}
#unitCount{
    color: #C41E3A; 
    font-size:18px;
    font-weight:bold;
}
h4{
    text-align:left;
    font-size:14pt;
    color: #f17000;
    padding-left:50px;
    padding-bottom:20px;
}
h3{
    text-align:left;
    font-size:14pt;
    color: #C41E3A; 
    padding-left:50px;
    padding-bottom:20px;
}
h2{
    color:#C41E3A;
    padding-bottom:20px;
}

/*ul{
    margin-left:50px;
}*/
li{
    margin-left:20px;
}
ol{
    margin-left:50px;
}
#paginationBar{
    list-style-type: none; /* Removes default bullet points */
    padding: 0;
    text-align:center;
    margin-top:15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */    
}
#paginationBar li{

    display: inline-block; /* Makes the list items appear in a horizontal row */
    margin-right: 20px; /* Adds space between items */
    margin:15px;
    font-size:20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    
}
#paginationBar li a{
    padding:20px;
    color:RGB(54, 69, 79);

    padding-bottom:10px;
    padding-top:10px;
    text-decoration:none;
}
#paginationBar li:hover{
    background-color:#eabbbb; 
    text-decoration:none;

}
form #sermonSearch{
    width:250px;
}
body{
    margin-left:65px;
}
label{
    color:#C41E3A;
    font-weight:bold;
}
div input[type='text']{
    border:1px solid black;
    margin-left:10px;
}
div textarea{
    border:1px solid black;
    margin-left:10px;
}


nav{
    background-color:RGB(54, 69, 79);
    
}
.nav-link:hover{
    text-decoration: underline;
}
footer{
    background-color:RGB(54, 69, 79);
    color:black;
}

