.rightSlideBar{
    padding: 0px 10px;
    width: 270px;
	font-family: Helvetica,Arial,Sans-Serif;
	font-size: 12px;
    line-height: 1.7em;
}
.roadBox .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    background: url("../../	res/images/ads/road.png") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: rgb(51, 51, 51); 
	width: 270px;
}
.bibleBox .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    background: url("../../	res/images/ads/sermon.png") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: rgb(51, 51, 51); 
	width: 270px;
}
.waterBox .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    background: url("water.png") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: white; 
	width: 270px;
} 
 .waterchairBox .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    background: url("waterandchair.png") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: white; 
	width: 270px; float:left;
} 
 .monthlycalendar .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    background: url("../images/ads/faithcomesbybearing.png") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: white; 
	width: 270px; float:left;
 }
.church_schedule .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;  
	 background: url("../images/ads/praise.jpg") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: rgb(51, 51, 51);	
	width: 270px;
	float:left;	
}
.noImageBox {
	padding: 10px;
    border: 1px solid rgb(200, 200, 200);
	width: 270px;
	float:left;
	color: rgb(51, 51, 51);	
}
.latest_articles .module-surround {
	padding: 10px;
    border-radius: 2px 2px 2px 2px;  
	 background: url("../images/ads/prayer.jpg") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: rgb(51, 51, 51);	
	width: 270px;	
}
.bgColorBox .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    background: url("../images/main/light/backgrounds/textile.png") repeat scroll 0% 0% rgb(226, 226, 226);
    border: 1px solid rgb(200, 200, 200);
    color: rgb(51, 51, 51); 
	width: 280px;
}
.noBorderBox .module-surround {
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    color: rgb(51, 51, 51);
	width: 280px;
}


.module-title { 
    color: rgb(68, 68, 68);
    font-size: 1.4em;
    line-height: 1.5em;
    float:left;
    text-transform: uppercase;
    border: 0px solid rgb(200, 200, 200);
	width: 260px;
	font-family: Helvetica,Arial,Sans-Serif;
	color: rgb(68, 68, 68);
}
.module-title span {
    color: rgb(0, 175, 240);
}
.module-content{
 padding-top: 30px;
}


.cogEvent{
	font-weight: bold;
	color:gray;
	font: bold 12px Verdana, Arial, Helvetica, Garuda, sans-serif;
	padding-bottom: 10px;
	width:270px;
}
.cogDate{
	float: left;
	height: 42px;
	width: 42px;
	background: url(../../res/images/ads/date.png) no-repeat;
	margin-right: 10px;
	padding-top: 0px;
	line-height: normal;	
}
.cogDate .month{
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 9px;
	padding-top: 2px;
	text-transform: uppercase;
}
.cogDate .day{
	display: block;
	text-align: center;
	padding-top: 4px;
	color: #222;
	font-size: 13px;
	font-weight: bold;
}
.meta
{
	display: block;
	font-size: 10px;
	color: #666;
	font-weight: normal;
}







